body {
		font-family: arial;
		font-weight: bold;
		font-size: 20px;
		color: #2e8b57;
	}

h1 {
  color: #ffffff;
  background-color: #4169e1;
	text-align: center;
	font-size: 50px;
	border-top: 2px solid #999999;
  border-bottom: 2px solid #999999;
}

h2 {
  font-weight: bold;
	color: #ffffff;
  background-color: #00cd66;
  padding: .2em .5em;
  margin-top: 1.5em;
  border-top: 2px solid #999999;
  border-bottom: 2px solid #999999;
}

h3 {
	color: #ff0000;
	text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

nav {
	border-radius: 1.0em 1.0em 1.0em;
	border: 3px solid;
	border-color: #ff0000;
	margin: 50px;
	padding: 10px;
}

#formel {
	font-size: 22px;
	color: #303030;
}

figure {
	text-align: center;
	font-style: italic;
	color: #ff0000;
}

code {
	font-weight: normal;
	font-size: 18px;
}

footer {
	text-align: center;
	border-radius: 1.0em 1.0em 1.0em;
	border: 3px solid;
	border-color: #1010f0;
	margin: 50px;
	padding: 10px;
}

table {
		border-collapse: collapse;
		color: blue;
    width: 25%;
}

th, td {
		border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #ddd}

.settings {
	width: 50%;
	font-size: 16px;
	color: #2e8b57;
}

.mydiv {
	column-count: 2;
	width: 50%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
		font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e44336;
		font-size: 20px;
}

button {
		width: 25%;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
		font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e44336;
		font-size: 20px;
}
